@charset "utf-8"
*{margin: 0; padding: 0;}
li{list-style: none;}
a{color: inherit; text-decoration: none;}
html, body{
  font-family: 'Noto Sans KR', sans-serif;
}


/* header */
.header_wrap{
  width: 100%
}
.inner_box{
  width: 70%;
  margin: 0 auto;
}
.header_wrap > .inner_box{
  height: 85px;
} 
.h_top{
  height: 60px;
  display: flex;
  justify-content: space-around; 
  align-items: flex-end;
} 
.logo{
  width: 155px;
  height: 34px; 
}
.logo img{
  width: 100%;
}
.location{
  font-size: 0.9rem;
  position: relative;
  display: inline-block;
  width: 345px;
  padding-left: 10px;
  border-bottom: 1px solid #222;
  line-height: 30px;
  text-align: left; 
  font-weight: bold;
}
.location::before{
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  background: url(../img/arrow.png) center center no-repeat;
  vertical-align: -4px;
}
.util_nav{
  display: flex;
  font-size: 0.85rem; 
  vertical-align: middle;
}
.util_nav > a{
  padding: 10px;
}
.util_nav > a:last-child{
  font-size: 0.8rem;
  color: #ccc;
}
.menu{
  width: 100%;
}
.menu .inner_box{
  height: 55px;
}
.menu_list{ 
  width: 100%;
  line-height: 55px;
  display: flex; 
  justify-content: space-between;
  position: fixed;
}

.horizontal_underline{}

.menu_list > a{
  width: 200px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 55px;
}







/* main slide */
 
.main_slide{
  width: 100%;
  height: 495px;
  overflow: hidden;
}
.main img{
  width: 100%;
}




/* order */
.order_wrap{
  width: 100%;
  height: 280px;
  position: relative;
}
.order_wrap .inner_box{
  width: 60%;
}

.item_box{
  position: relative;  
  margin: 0 auto;
  padding: 56px;
  display: flex;
  justify-content: space-between;
}
.item{
  display: flex;
  flex-direction: column;
}

.item:nth-child(1) > .text{
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  color: #ff143c;
  letter-spacing: -4px;
}
.item:nth-child(1) > .arrow{
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: 9px;
  background: #ff143c;
  border-radius: 100%;
  border: 0;
}
.item:nth-child(2) > .text{
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -4px;
  color: #1382ff;
}
.item:nth-child(2) > .arrow{
  position: relative;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    background: #1382ff;
    border-radius: 100%;
    border: 0;
}
.item:last-child > .text{
  display: inline-block;
  font-weight: 400;
  font-size: 42px;
  color: #000;
  letter-spacing: -4px;
}
.item:last-child > .arrow{
  position: relative;
    width: 30px;
    height: 30px;
    margin-left: 9px;
    background: #000;
    border-radius: 100%;
    border: 0;
}
.item > p:last-child{
  margin-top: 17px;
  padding-left: 3px;
  font-size: 16px;
  line-height: 1.5;
  color: #888;
}
.item .arrow::after{
  content: ""; 
  display: inline-block;
  width: 9px;
  height: 9px;
  border: solid #fff; 
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 11px;
  left: -4px;
  right: 0;
  margin: 0 auto;
}



/* grade */
.grade_wrap{
  width: 100%;
  background: #f6f6f6;
}
.grade_wrap .inner_box{
  width: 75%;
  display: flex;
  justify-content: space-around;
  padding: 110px 0;
}

.grade_title{
  display: block;
  font-size: 30px;
  line-height: 1.35;
}
.grade_title strong{
  color: #238ece;
  font-weight: 700;
}
.grade_btn{
  width: 103px;
  height: 43px;
  line-height: 43px;
  background: #222;
  color: #eee;
  border-radius: 30px;
  text-align: center;
  font-size: 1em;
  padding: 3px 5px;
  margin-top: 30px;
}
.grade img{
  width: 250px;
}




/* banner */
.banner_wrap{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
  border-bottom: 1px solid #ddd;
} 
.banner_wrap .inner_box{
  display: flex;
  justify-content: center;
}
.banner{
  margin: 0 15px;
}




/* footer */
.footer_wrap{
  width: 100%;
}

.footer_top{
  display: flex;
  padding: 52px 0;
  justify-content: space-between;
}
.footer_tel{
  margin-left: 13px;
  font-size: 30px;
  font-weight: 600;
}
.footer_menu{
  margin-top: 15px; 
  display: flex;
}
.footer_menu > li{
  width: 120px; 
  display: inline-block;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  padding: 10px; 
  color: #888;
}
.footer_menu > li:nth-child(2), .footer_menu > li:nth-child(3){
  font-weight: 600;
  color: #111;
}
.copy{
  margin-top: 25px;
  line-height: 1.75;
  color: #888;
  font-size: 12px;
} 
.sns{ 
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.awards_wrap{
  height: 100px;
}
.awards{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}
.awards > li p {
  display: inline-block;
  padding-left: 7px;
  vertical-align: middle;
  font-size: 11px;
  color: #888;
  line-height: 16px;
}
.awards img{
  width: auto;
  display: inline-block;
  vertical-align: middle;
}